<footer class="index-footer row px-3 pt-3 mx-0 d-flex justify-content-center">
    <div class="col-12 col-md-6 col-lg-3 py-4 text-center">
        <h1 class="fw-7">Redes Sociales</h1>
        <div class="d-flex justify-content-around align-items-center my-4 fs-5">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
        </div>
        <span>¡Mantente actualizado!</span>
    </div>
    <div class="col-12 col-sm-4 col-md-6 col-lg-3 py-4 px-2 text-center text-lg-start d-flex flex-column">
        <h1 class="fw-7">Empresa</h1>
        <a href="#" class="text-decoration-none text-light">Vacantes de trabajo</a>
        <a href="#" class="text-decoration-none text-light">Comentarios</a>
        <a href="#" class="text-decoration-none text-light">Politica</a>
        <a href="#" class="text-decoration-none text-light">Libre de reclamaciones</a>
    </div>
    <div class="col-12 col-sm-4 col-md-6 col-lg-3 py-4 px-2 text-center text-lg-start d-flex flex-column">
        <h1 class="fw-7">Asesores</h1>
        <a href="#" class="text-decoration-none text-light"><i class="fa-regular fa-envelope"></i>
            CrownPet@gmail.com</a>
        <a href="#" class="text-decoration-none text-light"><i class="fa-solid fa-phone"></i> +51 949 943 922 </a>
    </div>
    <div class="col-12 col-sm-4 col-md-6 col-lg-3 py-4 px-2 text-center text-lg-start d-flex flex-column">
        <h1 class="fw-7">Horarios</h1>
        <h4 class="text-light fw-5">Todos los dias</h4>
        <span class="text-light">--10am a 12am--</span>
    </div>
    <div class="col-12 text-center py-3">
        <i class="fa-regular fa-copyright"></i> Derechos Reservados - Clinica Veterinaria CrownPet 2024
    </div>
</footer>